.login-dark {
  height: 950px;
  background: #475d62 url(../img/dark_city_pink.jpg);
  background-color: #5c117ace;
  background-blend-mode: multiply;
  opacity: 7;
  background-size: cover;
  position: relative;
}

.login-dark form {
  max-width: 320px;
  width: 90%;
  opacity: 0.8;
  padding: 40px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(158, 154, 158, 0.384);    
  backdrop-filter: blur(21px) saturate(116%);
  -webkit-backdrop-filter: blur(21px) saturate(116%);
  background-color: rgba(20, 20, 20, 0.466);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.login-dark .illustration {
  text-align: center;
  padding: 15px 0 20px;
  font-size: 100px;
  color: #dddadce1;
}

.login-dark form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #afabaf;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.login-dark form .btn-primary {
  background: #000000;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background: #70075fe8;
  outline: none;
}

.login-dark form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #ebebebd8;
  opacity: 0.9;
  text-decoration: none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.login-dark form .btn-primary:active {
  transform: translateY(1px);
}

